@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



  @layer components {
    /* This won't be included in your compiled CSS unless you actually use it */
    .bgcard {
        background:linear-gradient(to top, #581c87, #852aca, rgba(72, 84, 102, 0)) !important;
    }
    .heading_accordion:hover .accordion-title, .heading_accordion:hover .accordion-icon{
        color:#8d2bd8;
    }
    .heading_accordion:hover {
      border-color:#374151;
    }
    .accordion-body  {
      animation-name: example;
      animation-duration: .300s;
    }
    body{
      background: #faf5ff;
    }
    @keyframes example {
      from { transform: translateY(100%);}
      to {  transform: translateY(0%);}
    }
    .btn-style{
      @apply w-14 h-14 shadow hover:shadow-2xl text-purple-50 cursor-pointer bg-purple-700 hover:text-purple-700 transition-all hover:bg-white p-2 rounded-2xl
    }
    /* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #902bb2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
    

  }
